#header {
    background-image: linear-gradient( aqua 40%, grey, black) ;
    color: black;
    font-family: 'Staatliches', cursive;
}
.navbuttons {
    color: aqua;
    display: inline-block;
}
.homebutton:hover {
    color: black;
    opacity: 0.5; 
}
.aboutbutton:hover {
    color: black;
    opacity: 0.5;
}
.projectsbutton:hover {
    color: black;
    opacity: 0.5;
}
#portfolio a:hover {
    color: black;
    text-decoration: none;
    opacity: 0.3; 
}
.aboutbutton {
    background-color: aqua;
    color: black;
}
.projectsbutton {
    background-color: aqua;
    color: black;
    
}.homebutton {
    background-color: aqua;
    color: black;  
}


    






