#header {
    color: black;
    font-family: 'Staatliches', cursive;
    background-image: linear-gradient(#004e68, #006687, #09c2ff, #a7e9ff);
    height: 80vh;
}
body{
    background-image: linear-gradient(#a7e9ff 40%, #09c2ff, #006687, #004e68);
}
.navbuttons {
    color:#75ddff;
    display: inline-block;  
    font-family: 'Staatliches', cursive;
}
.homebutton:hover {
    color: purple;
    opacity: 0.5; 
}
.aboutbutton:hover {
    color: purple;
    opacity: 0.5;
}
.projectsbutton:hover {
    color: purple;
    opacity: 0.5;  
}
.contactbutton:hover {
    color: purple;
    opacity: 0.5;  
}
#portfolio a:hover {
    color: black;
    text-decoration: none;
    opacity: 0.5; 
}
.aboutbutton {
    background-color: #75ddff;
    color: black;
}
.projectsbutton {
    background-color:#75ddff;
    color: black;
    
}.homebutton {
    background-color: #75ddff;
    color: black;  
}
.contactbutton {
    background-color: #75ddff;
    color: black;
}
.jumbotron {
    text-align: center;
    
}
#about  {
    height: 60vh;
}
 h2{
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: purple;
}
.background-wrapper {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 14pt;
}
#contact {
    height: 60vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: 'Staatliches', cursive;
}
#contact button{
    border: 2px solid black;
}
#contact button:hover {
    opacity: .75;
    color:purple;
}
.container {
    background-color:rgba(211, 211, 211, 0.5);
    border-radius: 10px; 
    margin-top: 100px;
}
#footer {
    text-align: center;
}
 img {
    border: 2px solid white;  
}
#header img{
    border: 2px solid black;
}
.logos img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 10px;
    margin-top: 40px;
}
.logos{
    margin-right: 37%;
    margin-left: 37%;
    position: relative; 
}
section {
    padding-top: 100px;
}
.card-group {
    padding-top: 50px;
    padding-bottom: 20px;
}
.backgroundpara {
    font-family: 'PT Sans', sans-serif;
}
#portfolio p {
    font-family: 'PT Sans', sans-serif;
}
#portfolio h4 {
    font-family: 'PT Sans', sans-serif;
    
}
#contact input {
    font-family: 'PT Sans', sans-serif;
}
#contact textarea {
    font-family: 'PT Sans', sans-serif;
}





   
   
    


    
    






    






